In [2]:
import pandas as pd

In [4]:
confrimed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [7]:
confrimed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/19/22,6/20/22,6/21/22,6/22/22,6/23/22,6/24/22,6/25/22,6/26/22,6/27/22,6/28/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,181666,181725,181808,181912,181987,182033,182072,182149,182228,182324
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,277409,277444,277663,277940,278211,278504,278793,279077,279077,279167
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265975,265985,265993,266006,266015,266025,266030,266038,266049,266062
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,43449,43449,43449,43774,43774,43774,43774,43774,43774,43774
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99761,99761,99761,99761,99761,99761,99761,99761,99761,101320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,658100,658503,658503,658503,658503,658503,658503,658503,659853,659853
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11823,11823,11824,11824,11824,11824,11824,11824,11824,11824
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,324288,324344,324558,324558,324922,325110,325110,325110,325348,325498
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,254801,254831,254919,255049,255136,255309,255309,255355,255383,255383

In [17]:
new_df = confrimed_df.melt(id_vars=['Country/Region','Province/State','Lat','Long'])

In [26]:
new_df[new_df['Country/Region']=='India'].head(50)

      Country/Region Province/State        Lat      Long variable  value
148            India            NaN  20.593684  78.96288  1/22/20      0
433            India            NaN  20.593684  78.96288  1/23/20      0
718            India            NaN  20.593684  78.96288  1/24/20      0
1003           India            NaN  20.593684  78.96288  1/25/20      0
1288           India            NaN  20.593684  78.96288  1/26/20      0
1573           India            NaN  20.593684  78.96288  1/27/20      0
1858           India            NaN  20.593684  78.96288  1/28/20      0
2143           India            NaN  20.593684  78.96288  1/29/20      0
2428           India            NaN  20.593684  78.96288  1/30/20      1
2713           India            NaN  20.593684  78.96288  1/31/20      1
2998           India            NaN  20.593684  78.96288   2/1/20      1
3283           India            NaN  20.593684  78.96288   2/2/20      2
3568           India            NaN  20.593684  78.96288   2/3/20      3
3853           India            NaN  20.593684  78.96288   2/4/20      3
4138           India            NaN  20.593684  78.96288   2/5/20      3
4423           India            NaN  20.593684  78.96288   2/6/20      3
4708           India            NaN  20.593684  78.96288   2/7/20      3
4993           India            NaN  20.593684  78.96288   2/8/20      3
5278           India            NaN  20.593684  78.96288   2/9/20      3
5563           India            NaN  20.593684  78.96288  2/10/20      3
5848           India            NaN  20.593684  78.96288  2/11/20      3
6133           India            NaN  20.593684  78.96288  2/12/20      3
6418           India            NaN  20.593684  78.96288  2/13/20      3
6703           India            NaN  20.593684  78.96288  2/14/20      3
6988           India            NaN  20.593684  78.96288  2/15/20      3
7273           India            NaN  20.593684  78.96288  2/16/20      3
7558           India            NaN  20.593684  78.96288  2/17/20      3
7843           India            NaN  20.593684  78.96288  2/18/20      3
8128           India            NaN  20.593684  78.96288  2/19/20      3
8413           India            NaN  20.593684  78.96288  2/20/20      3
8698           India            NaN  20.593684  78.96288  2/21/20      3
8983           India            NaN  20.593684  78.96288  2/22/20      3
9268           India            NaN  20.593684  78.96288  2/23/20      3
9553           India            NaN  20.593684  78.96288  2/24/20      3
9838           India            NaN  20.593684  78.96288  2/25/20      3
10123          India            NaN  20.593684  78.96288  2/26/20      3
10408          India            NaN  20.593684  78.96288  2/27/20      3
10693          India            NaN  20.593684  78.96288  2/28/20      3
10978          India            NaN  20.593684  78.96288  2/29/20      3
11263          India            NaN  20.593684  78.96288   3/1/20      3
11548          India            NaN  20.593684  78.96288   3/2/20      5
11833          India            NaN  20.593684  78.96288   3/3/20      5
12118          India            NaN  20.593684  78.96288   3/4/20     28
12403          India            NaN  20.593684  78.96288   3/5/20     30
12688          India            NaN  20.593684  78.96288   3/6/20     31
12973          India            NaN  20.593684  78.96288   3/7/20     34
13258          India            NaN  20.593684  78.96288   3/8/20     39
13543          India            NaN  20.593684  78.96288   3/9/20     43
13828          India            NaN  20.593684  78.96288  3/10/20     56
14113          India            NaN  20.593684  78.96288  3/11/20     62